body {
	margin: 0;
	font-size: 12pt;
	font-family: serif;
  	position: relative;
}

.avl-menu-sidebar {
	height: 100%;
	width: 185px;
	display: block;
	color: #614e6c;
	background: #cbaf42;
	overflow-y: auto;
	overflow-x: hidden;
}

.avl-menu-menubar {
	display: block;
	height: 30px;
	width: 100%;
	color: #614e6c;
	background: #cbaf42;
}

.avl-menu-button {
	height: 30px;
	width: 175px;
	color: #614e6c;
	background: #cbaf42;
	text-align: left;
	padding-left: 10px;
	line-height: 30px;
	text-decoration: none;
	display: block;
}
.avl-menu-button:hover {
	background: #ab8f22;
	color: #000;
}
.avl-menu-button-selected {
	background: #ab8f22;
}

.avl-menu-dropdown-container {
	overflow-y: hidden;
	overflow-x: hidden;
}
.avl-menu-dropdown {
	width: 185px;
	background: #cbaf42;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
	position: relative;
	z-index: 5;
}

.avl-menu-tab-container {
	overflow-y: hidden;
	overflow-x: hidden;
}

.avl-menu-tab {
	position: absolute;
}

.avl-menu-popup {
	position: absolute;
	background-color: rgba(96, 78, 108, 0.5);
	padding: 5px;
}
.avl-menu-popup-hide {
	display: none;
}
.avl-menu-popup table {
	background: #cbaf42;
	color: #614e6c;
	border-collapse: collapse;
}

.avl-menu-popup td {
	padding: 2px 15px;
}

.avl-menu-popup .avl-menu-odd-row {
	background: #ab8f22;
}

.avl-menu-bottom-right {
	position: fixed;
	right: 10px;
	bottom: 10px;
}